@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .login-btn{
       text-decoration-line: underline;
       color: rgb(96 165 250);
       &:hover{
        color: #1565c0;
       }
    }
}

// @include text-style(Roboto-light-bold, 700);

// //Roboto light
// @font-face {
//     font-family: Roboto-light-bold;
//     src:
//     url("./fonts/Roboto/Roboto-Bold.ttf"),
//     url("./fonts/Roboto/Roboto-Light.ttf");   
// }
  
//   @font-face {
//     font-family: Roboto-light;
//     src:
//       url("../fonts/Roboto/Roboto-Light.ttf");
//   }
  
  
//   //Roboto regular
//   @font-face {
//     font-family: Roboto-regular-bold;
//     src:
//     url("../fonts/Roboto/Roboto-Bold.ttf"),
//     url("../fonts/Roboto/Roboto-Regular.ttf");
//   }
  
//   @font-face {
//     font-family: Roboto-regular;
//     src:
//       url("../fonts/Roboto/Roboto-Regular.ttf");
//   }
  
//   //Roboto light & regular
//   @font-face {
//     font-family: Roboto-mono-light-bold;
//     src:
//       url("../fonts/Mono/Roboto-Mono-Bold.ttf"),
//       url("../fonts/Mono/Roboto-Mono-Light.ttf");
//   }
